name: Brugge

ert:
  pred_schedule_file: ./trivial_prediction_schedule.sch
  static_include_files: ./brugge_static
  realizations:
    num_realizations: 200
    required_success_percent: 80
    max_runtime: 300  # Maximum runtime of on single realization in seconds
  queue:
    system: LOCAL  # LOCAL or LSF
    name: mr  # ignored when system is LOCAL
    max_running: 5  # Maximum number of simultaneous runs

export:
  csv_outfile: brugge_flownet_predictions
  quantity: [WOPR, WWPR, WBHP]
  end_date: 2020-01-01
